<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5vwteqKqzVw0qKVbsmBxuKFqa5iRUlu8</string>
	<key>GCM_SENDER_ID</key>
	<string>5905061053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wellbeingJunction.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mental-insight</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-insight.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5905061053:ios:4da543d8e81a146fc0d3d4</string>
</dict>
</plist>